<div class="section">
  <div class="container">
    <div class="row top-1">
      <div class="col-md-4">
        <div class="card" data-background="image" style="background-image: url('./assets/img/leonard-cotte.jpg')">
          <div class="card-body">
            <h6 class="card-category">ข้อมูลร้านค้า</h6>
            <div class="card-icon">
              <i class="nc-icon nc-shop"></i>
            </div>
            <p class="card-description"></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" data-background="image" style="background-image: url('./assets/img/joshua-stannard.jpg')">
          <div class="card-body">
            <h6 class="card-category">หมวดหมู่สินค้า</h6>
            <div class="card-icon">
              <i class="nc-icon nc-bag-16"></i>
            </div>
            <p class="card-description"></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" data-background="image" style="background-image: url('./assets/img/david-marcu.jpg')">
          <div class="card-body">
            <h6 class="card-category">สินค้า</h6>
            <div class="card-icon">
              <i class="nc-icon nc-box-2"></i>
            </div>
            <p class="card-description"></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" data-background="image" style="background-image: url('./assets/img/david-marcu.jpg')">
          <div class="card-body">
            <h6 class="card-category">การจัดส่ง</h6>
            <div class="card-icon">
              <i class="nc-icon nc-box-2"></i>
            </div>
            <p class="card-description"></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" data-background="image" style="background-image: url('./assets/img/david-marcu.jpg')">
          <div class="card-body">
            <h6 class="card-category">การชำระเงิน</h6>
            <div class="card-icon">
              <i class="nc-icon nc-box-2"></i>
            </div>
            <p class="card-description"></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" data-background="image" style="background-image: url('./assets/img/david-marcu.jpg')">
          <div class="card-body">
            <h6 class="card-category">ออเดอร์</h6>
            <div class="card-icon">
              <i class="nc-icon nc-box-2"></i>
            </div>
            <p class="card-description"></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" data-background="image" style="background-image: url('./assets/img/david-marcu.jpg')">
          <div class="card-body">
            <h6 class="card-category">ลูกค้า</h6>
            <div class="card-icon">
              <i class="nc-icon nc-box-2"></i>
            </div>
            <p class="card-description"></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" data-background="image" style="background-image: url('./assets/img/david-marcu.jpg')">
          <div class="card-body">
            <h6 class="card-category">รายงาน</h6>
            <div class="card-icon">
              <i class="nc-icon nc-box-2"></i>
            </div>
            <p class="card-description"></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" data-background="image" style="background-image: url('./assets/img/david-marcu.jpg')">
          <div class="card-body">
            <h6 class="card-category">โฆษณา</h6>
            <div class="card-icon">
              <i class="nc-icon nc-box-2"></i>
            </div>
            <p class="card-description"></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" data-background="image" style="background-image: url('./assets/img/david-marcu.jpg')">
          <div class="card-body">
            <h6 class="card-category">โปรโมชั่น</h6>
            <div class="card-icon">
              <i class="nc-icon nc-box-2"></i>
            </div>
            <p class="card-description"></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" data-background="image" style="background-image: url('./assets/img/david-marcu.jpg')">
          <div class="card-body">
            <h6 class="card-category">ประมูล</h6>
            <div class="card-icon">
              <i class="nc-icon nc-box-2"></i>
            </div>
            <p class="card-description"></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" data-background="image" style="background-image: url('./assets/img/david-marcu.jpg')">
          <div class="card-body">
            <h6 class="card-category">งาน</h6>
            <div class="card-icon">
              <i class="nc-icon nc-box-2"></i>
            </div>
            <p class="card-description"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>