<div class="section">
  <div class="container">
    <div class="row top-1">
      <div class="col-md-4" *ngFor="let item of [1,2,3,4,5,6,7]">
        <div class="card" data-background="image" style="background-image: url('./assets/img/david-marcu.jpg')">
          <div class="card-body">
            <h6 class="card-category">Travel</h6>
            <div class="card-icon">
              <i class="nc-icon nc-spaceship"></i>
            </div>
            <p class="card-description">Unlike fashionable design, it lasts many years – even in today’s throwaway society.</p>
            <div class="card-footer">
              <a href="#pablo" class="btn btn-danger btn-round card-link">
                <i class="fa fa-book" aria-hidden="true"></i> Read Article
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>